@import '../variables.scss';

.blob {
    position: fixed;
    bottom: 0;
    left: 20%;
    height: 175%;
    width: 200%;
    z-index: -1;
    background-image: radial-gradient(circle, rgba(0, 128, 128, 0.486) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 100%);
    clip-path: url('../assets/texture.svg');
}


@media (max-width: 599px) {
    .blob {
        transform: translateY(10%);
        height: 200%;
        width: 400%;
    }
}


