@import '../variables.scss';

.hero-section {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;

    .greeting-ctn {
        height: 150px;
        width: clamp(300px, 50%, 500px);
        overflow-y: hidden; // IMPORTANT!
        position: relative;

        .desktop {
            display: none;
        }
        
        .mobile {
            text-align: center;
            color: transparent;
             -webkit-background-clip: text;
             background-clip: text;
             background-size: cover; /* Adjust as needed to cover the container */
             background-image: linear-gradient(45deg, rgba(0,255,248,1) 40%, rgba(82,255,0,1) 100%);
             background-attachment: fixed; /* Make the background fixed */
            font-size: 5em;
        }
        
        .greeting-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            
            .greeting {
                width: 100%;
                text-align: center;
                font-size: 1.5em;
                line-height: 1.9em;

                > h1 {
                    margin: 0;
                    text-transform: capitalize;
                }
            }
        }
    }

    .my-name-is {
        padding: 0;
        margin-top: 0;
    }

    .description {
        text-align: center;
        padding: 2em 2em 0 2em;
        font-size: 1.1em;
        font-weight: 200;

        > b {
            color: $accent;
        }
    }
}

.hero-cta-ctn {
    padding: 1.5em 0;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.hero-cta {
    padding: 1rem;
    background-color: transparent;
    border: 1px solid $accent;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    transition: 150ms ease-in-out;

    &:hover {
        background-color: $accent;
        color: black;
        font-weight: 600;
    }
}

#swipe-instructions {
    position: absolute;
    height: 15vh;
    font-weight: 200;
    font-size: 1em;
    top: 75vh;
    text-align: center;
}

#swipe-btn {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 40px;
    height: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#swipe-btn::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-color: $secondary;
    border-radius: 100%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    opacity: 100%;
    animation: slide 1250ms ease-in-out infinite;
    animation-delay: 500ms;
}



@keyframes slide {
    from {
        transform: translate(-50%, 0%);
        opacity: 100%;
    }

    to {
        transform: translate(-50%, 100%);
        opacity: 0%;
    }
}

@media (min-width: 768px) {
    .hero-section {
        .greeting-ctn {
            display: flex;
            flex-direction: row;
            justify-content: center;

            &::after {
                content: '';
                position: absolute  ;
                top: 0;
                left: 15%;
                height: 100%;
                width: 70%;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgb(0, 0, 0) 20%, rgba(255, 255, 255, 0) 50%, hsl(0, 0%, 0%) 80%);
                z-index: 10;    
            }

            .desktop {
                display: block;
            }
            .mobile {
                display: none;
            }
            .greeting-wrapper {
                .greeting {
                    font-size: 2em;
                }
            }
        }
        .description {
            width: clamp(300px, 50%, 500px);
            text-align: center;
            padding: 2em 2em 0 2em;
            font-size: 1.1em;
        letter-spacing:2px;
        line-height: 1.6;

    
      
        }
    }
}