@import '../variables.scss';

.skills-section {
    min-height: 75svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .skills-ctn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: $section-clamp;
        gap: 1em;


        .skill {
            padding: 1rem;
            background-color: $secondary-o2;
            border-radius: 16px;
            transition: 250ms ease-in-out all;

            &:hover {
                background-color: $secondary;
            }
        }
    }
}